In [1]:
import pandas as pd

In [18]:
lista = pd.read_excel('envío del 24 de nov.xlsx', sheet_name='Hoja1')
lista

               Lista       Pais
0     +5491147428304  Argentina
1   +549111125361856  Argentina
2     +5491165960766  Argentina
3     +5493513360956  Argentina
4    +54111527601029  Argentina
..               ...        ...
80     +584123106676  Venezuela
81    '+584242845735  Venezuela
82    '+584246003826  Venezuela
83    '+584248676785  Venezuela
84    +5804146320074  Venezuela

[85 rows x 2 columns]

In [19]:
lista['Lista'] = lista['Lista'].str.replace("'","")
lista

               Lista       Pais
0     +5491147428304  Argentina
1   +549111125361856  Argentina
2     +5491165960766  Argentina
3     +5493513360956  Argentina
4    +54111527601029  Argentina
..               ...        ...
80     +584123106676  Venezuela
81     +584242845735  Venezuela
82     +584246003826  Venezuela
83     +584248676785  Venezuela
84    +5804146320074  Venezuela

[85 rows x 2 columns]

In [13]:
lista['Lista'].str.startswith('+51').sum()

42

In [20]:
indices_peru = lista[lista['Lista'].str.startswith('+51')].index
indices_peru

Int64Index([35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51,
            52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68,
            69, 70, 71, 72, 73, 74, 75, 76],
           dtype='int64')

In [22]:
lista = lista.drop(indices_peru.tolist(), axis=0)
lista

               Lista                Pais
0     +5491147428304           Argentina
1   +549111125361856           Argentina
2     +5491165960766           Argentina
3     +5493513360956           Argentina
4    +54111527601029           Argentina
5    +54111559639636           Argentina
6    +54351155425885           Argentina
7     +5491157356472           Argentina
8      +351153611399           Argentina
9       +59178185945             Bolivia
10      +56945107098               Chile
11      +56949261518               Chile
12      +56961551149               Chile
13      +56965925243               Chile
14      +56967281115               Chile
15      +56961204271               Chile
16      +56963715262               Chile
17      +56945741278               Chile
18     +573118201291            Colombia
19     +573113707204            Colombia
20     +573206320215            Colombia
21     +573005954871            Colombia
22      +50686067642          Costa Rica
23      +18094811166  Dominican Republic
24      +18097773402  Dominican Republic
25     +593991414887             Ecuador
26       +5991414887             Ecuador
27     +523312089263              Mexico
28     +525518776101              Mexico
29     +525555555555              Mexico
30     +526671880418              Mexico
31     +528125165708              Mexico
32     +528716701387              Mexico
33     +529994167336              Mexico
34      +50762347987              Panama
77      +17874703498         Puerto Rico
78      +34652608534               Spain
79      +34606168667               Spain
80     +584123106676           Venezuela
81     +584242845735           Venezuela
82     +584246003826           Venezuela
83     +584248676785           Venezuela
84    +5804146320074           Venezuela

In [16]:
lista = lista.tolist()
lista
print(len(lista))

42

In [17]:
lista

['+51912092618',
 '+51926876703',
 '+51933751019',
 '+51943097937',
 '+51947133200',
 '+51947215723',
 '+51947637321',
 '+51949835933',
 '+51950050771',
 '+51957559105',
 '+51958580039',
 '+51958784967',
 '+51958967025',
 '+51961972713',
 '+51962638720',
 '+51965993565',
 '+51966288844',
 '+51972385224',
 '+51973976697',
 '+51979596204',
 '+51980510627',
 '+51984903046',
 '+51985099904',
 '+51985921539',
 '+51987161898',
 '+51987375092',
 '+51988663373',
 '+51989073473',
 '+51989303701',
 '+51989560502',
 '+51989594969',
 '+51990351948',
 '+51992763689',
 '+51994677070',
 '+51995515302',
 '+51997881906',
 '+51999840777',
 '+51960107463',
 '+51981535538',
 '+51927682123',
 '+51983518883',
 '+51990259728']