In [2]:
import pandas as pd

In [6]:
lista = pd.read_excel('Envio de zoom - whatsapp.xlsx', sheet_name='normalizado')
lista

               Lista
0     +5491147428304
1   +549111125361856
2     +5491165960766
3     +5493513360956
4    +54111527601029
..               ...
74      +34606168667
75     +584123106676
76    '+584242845735
77    '+584246003826
78    '+584248676785

[79 rows x 1 columns]

In [7]:
lista['Lista'] = lista['Lista'].str.replace("'","")
lista

               Lista
0     +5491147428304
1   +549111125361856
2     +5491165960766
3     +5493513360956
4    +54111527601029
..               ...
74      +34606168667
75     +584123106676
76     +584242845735
77     +584246003826
78     +584248676785

[79 rows x 1 columns]

In [8]:
lista = lista.iloc[33:]
lista

            Lista
33   +51926876703
34   +51933751019
35   +51943097937
36   +51947133200
37   +51947215723
38   +51947637321
39   +51949835933
40   +51950050771
41   +51957559105
42   +51958580039
43   +51958784967
44   +51958967025
45   +51961972713
46   +51962638720
47   +51965993565
48   +51966288844
49   +51972385224
50   +51973976697
51   +51979596204
52   +51980510627
53   +51984903046
54   +51985099904
55   +51985921539
56   +51987161898
57   +51987375092
58   +51988663373
59   +51989073473
60   +51989303701
61   +51989560502
62   +51989594969
63   +51990351948
64   +51992763689
65   +51994677070
66   +51995515302
67   +51997881906
68   +51999840777
69   +51960107463
70   +51981535538
71   +51927682123
72   +17874703498
73   +34652608534
74   +34606168667
75  +584123106676
76  +584242845735
77  +584246003826
78  +584248676785

In [9]:
lista = lista['Lista'].unique()
lista

array(['+51926876703', '+51933751019', '+51943097937', '+51947133200',
       '+51947215723', '+51947637321', '+51949835933', '+51950050771',
       '+51957559105', '+51958580039', '+51958784967', '+51958967025',
       '+51961972713', '+51962638720', '+51965993565', '+51966288844',
       '+51972385224', '+51973976697', '+51979596204', '+51980510627',
       '+51984903046', '+51985099904', '+51985921539', '+51987161898',
       '+51987375092', '+51988663373', '+51989073473', '+51989303701',
       '+51989560502', '+51989594969', '+51990351948', '+51992763689',
       '+51994677070', '+51995515302', '+51997881906', '+51999840777',
       '+51960107463', '+51981535538', '+51927682123', '+17874703498',
       '+34652608534', '+34606168667', '+584123106676', '+584242845735',
       '+584246003826', '+584248676785'], dtype=object)

In [10]:
lista = lista.tolist()
lista
print(len(lista))

46

In [16]:
lista

['+5491147428304',
 '+549111125361856',
 '+5491165960766',
 '+5493513360956',
 '+54111527601029',
 '+54111559639636',
 '+54351155425885',
 '+5491157356472',
 '+351153611399',
 '+59178185945',
 '+56945107098',
 '+56949261518',
 '+56961551149',
 '+56965925243',
 '+56967281115',
 '+56961204271',
 '+56963715262',
 '+573113707204',
 '+573206320215',
 '+573005954871',
 '+50686067642',
 '+18094811166',
 '+18097773402',
 '+593991414887',
 '+523312089263',
 '+525518776101',
 '+525555555555',
 '+526671880418',
 '+528125165708',
 '+528716701387',
 '+529994167336',
 '+50762347987',
 '+51912092618',
 '+51926876703',
 '+51933751019',
 '+51943097937',
 '+51947133200',
 '+51947215723',
 '+51947637321',
 '+51949835933',
 '+51950050771',
 '+51957559105',
 '+51958580039',
 '+51958784967',
 '+51958967025',
 '+51961972713',
 '+51962638720',
 '+51965993565',
 '+51966288844',
 '+51972385224',
 '+51973976697',
 '+51979596204',
 '+51980510627',
 '+51984903046',
 '+51985099904',
 '+51985921539',
 '+51987161898',
 '+51987375092',
 '+51988663373',
 '+51989073473',
 '+51989303701',
 '+51989560502',
 '+51989594969',
 '+51990351948',
 '+51992763689',
 '+51994677070',
 '+51995515302',
 '+51997881906',
 '+51999840777',
 '+51960107463',
 '+51981535538',
 '+51927682123',
 '+17874703498',
 '+34652608534',
 '+34606168667',
 '+584123106676',
 '+584242845735',
 '+584246003826',
 '+584248676785']